[Desktop Entry]
Version=1.0
Type=Application
Name=Luppo Package Installer
Name[tr]=Luppo Paket Kurucusu
GenericName=Luppo Package Installer
GenericName[tr]=Luppo Paket Kurucusu
Comment=Open and Install Luppo Packages
Comment[tr]=Luppo Paketlerini Aç ve Kur
Exec=luppo-package-installer
Icon=luppo-package-installer
Terminal=false
Categories=Utility;LupuS;System;
Keywords=luppo;package;installer;lupus;
MimeType=application/x-luppo;application/x-luppo-package;application/luppo;
StartupNotify=true
StartupWMClass=luppo-package-installer
