PisiPackage {
    Source {
        Name "aerosky"
        Homepage "https://github.com/TeknoAnka/pisipi"
        Summary "PiSi Package Installer"
        License "GPL-3.0-or-later"
        PartOf "desktop.utility"
        Packager {
            Name "Solzic0"
            Email "solzic0@yandex.com"
        }
    }
    Package {
        Name "pisipi"
        Summary "PiSi Package Installer"
        PartOf "desktop.utility"
    }
    History {
        Update release=1 date="2026-08-10" {
            Version "2.0.0"
            Comment "Rust conversion."
            Name "Solzic0"
            Email "solzic0@yandex.com"
        }
    }
}
